@charset "UTF-8";
/* Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    background-color:   #cceeff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

/* Heading */
h1 {
    margin-bottom: 25px;
    color: #333;
}

/* Labels */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Input Fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover Effect */
input[type="submit"]:hover {
    background-color: blue;
}